html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.list-wrapper {
    background-color: aliceblue;
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
}

.list-item {
    display: flex;
}

.list-item__content, .list-item__action {
    padding: 10px;
    align-items: center;
}

.list-item__image img {
    height: 80px;
    border-radius: 50%;
}